.test{
    background-color: rgb(33, 96, 112);

    color: rgb(255, 0, 76);
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;

    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;
}

.container{
    background-color: rgb(33, 96, 112);
    color: rgb(255, 0, 76);
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;

}
.item-primary{
    background-color: rgb(33, 96, 112);
    color: rgb(255, 0, 76);
    font-weight: bold;

    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 14px;
    line-height: 14px;
    text-align: center;
}